<template name="section3">
  <div id='section3'>
    <div class="container scrollblock">
      <div class="row">
        <div class="span7">
        </div> <!-- /span8 -->

        <div class="span5">
          <div class="footer-banner">
            <ul>
              <h3 class="footer-title">Heavy Hitters</h3>
              <li> ∆ These dudes were ballin'.</li>
              <li> ∆ Fuckin' all of em.</li>
              <li> ∆ You know why?!</li>
              <li> ∆ Neither do I!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>